body {
  background: linear-gradient(135deg, #c9d7f8, #68a6fe);
  font-family: 'Fredoka One', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  width: 300px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1 {
  color: rgb(2, 7, 141);
  font-size: 2.5em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin: 0;
  transform: skewX(-3deg);
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: rgb(2, 7, 141);
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Fredoka One', sans-serif;
}

button:hover {
  background-color: rgb(2, 7, 141);
}


.card-image {
  display: none;
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 15px 0;
}